@model List<Entities.ViewModels.ProductViewModel>
@if (Model != null)
{
    var rd = new Random();
    <div class="list-product list-product__2 flex">
        @foreach (var item in Model.Where(x => x.label_id > 0).ToList())
        {
            int dc = rd.Next(20, 50);
            string link_us_old = "https://usexpress.vn/amazon/item/" + Utilities.CommonHelper.CheckMaxLength((item.product_name).ToString(), 100) + "--" + item.product_code + "/";
            <div class="product-item col-5">
                <div class="wrap">
                    <div class="sale">-@dc%</div>
                    <a class="ava" href="@link_us_old">
                        <img src="@item.image_size_product[0].Larger">
                    </a>
                    <div class="content">
                        <div class="ct_star">
                            @{
                                double total_star = item.star;
                                if (total_star > 0)
                                {
                                    double pn = (double)Math.Floor(total_star);
                                    double pd = total_star - pn;
                                    <div class="ct_star">
                                        @{
                                            bool is_has_star_half = false;
                                            for (int i = 0; i < 5; i++)
                                            {
                                                <svg class="icon-us">
                                                    @if (i < pn)
                                                    {
                                                        <use xlink:href="/images/icons/icon.svg#star-full"></use>
                                                    }
                                                    else if (pd < 0.9 && (!is_has_star_half))
                                                    {
                                                        <use xlink:href="/images/icons/icon.svg#star-half"></use>
                                                        is_has_star_half = true;
                                                    }
                                                    else
                                                    {
                                                        <use xlink:href="/images/icons/icon.svg#star-none"></use>
                                                    }
                                                </svg>
                                            }
                                        }

                                    </div>
                                }
                            }
                        <span class="buy">@(dc+15) đã mua</span>
                        </div>
                        <h3 class="title">
                            <img src="images/icons/prime.png" title="amz">
                            <a href="@link_us_old"
                               title="  @item.product_name">
                                @item.product_name
                            </a>
                        </h3>
                        <div class="flex">
                            <div class="col-2">
                                <span>Giá về tay</span>
                                <strong>@((item.list_product_fee.list_product_fee["PRICE_LAST"] * item.rate).ToString("N0")) đ</strong>
                            </div>
                        </div>
                        <a class="brand_label" href="@link_us_old">
                            <img src="/landing_page/black_friday_2020/images/graphics/my.png" title="amz">Sản
                            phẩm bán
                            tại Amazon
                        </a>
                    </div>
                </div>
            </div>
        }


    </div>

}