@using Entities.ViewModels;
@model List<ProductViewModel>

<div class="slide_sale mb40">

    <div class="head-title flex">
        <h2 class="title_category">Sản phẩm nổi bật</h2>
    </div>
    <div class="swiper-container swiper-container-product-top">
        <div class="swiper-wrapper product_top_list">
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <div class="swiper-slide product-item">
                        @if (item.discount > 0)
                        {
                            <div class="sale">-@item.discount%</div>
                        }
                        <a class="ava" href="@item.link_product">
                            <img src="@(item.image_thumb)" />
                            <span class="like active">
                                <svg class="icon-us">
                                    <use xlink:href="/images/icons/icon.svg#heart"></use>
                                </svg>
                            </span>
                        </a>
                        <div class="content">
                            @{ await Html.RenderPartialAsync("PartialView/Product/Element/star", null, new ViewDataDictionary(this.ViewData) { { "star", item.rate } });}
                            <h3 class="title">
                                <a href="@item.link_product" title="@item.product_name">@item.product_name</a>
                            </h3>
                            <div class="flex">
                                <div class="col-2">
                                    <span>Giá về tay</span>
                                    <strong class="price">@Math.Round(item.amount_vnd).ToString("N0") đ</strong>
                                </div>
                            </div>
                            <a class="brand_label" href="@item.link_product"><img src="~/images/graphics/my.png" title="amz">Sản phẩm bán tại Costco Mỹ</a>
                        </div>
                    </div>
                }
            }
        </div>
        <!-- Add Scrollbar -->
        <div class="swiper-scrollbar"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
